<div class="m-grid m-grid--hor m-grid--root m-page" style="height: 100%;">
    <div class="m-grid__item m-grid__item--fluid   m-grid m-grid--desktop m-grid--ver-desktop m-grid--hor-tablet-and-mobile   m-login m-login--6" id="m_login">
        <div class="m-grid__item   m-grid__item--order-tablet-and-mobile-2  m-grid m-grid--hor m-login__aside " style="
        background-image: url(../../../assets/app/media/img/bg/bg-4.jpg);">
            <div class="m-grid__item">
                <div class="m-login__logo">
                    <a href="#">
                        <img src="../../../assets/Cloudfy/Img/Logo.png">
                    </a>
                </div>
            </div>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver">
                <div class="m-grid__item m-grid__item--middle">
                    <span class="m-login__title" translate="LOGIN_PAGE_TITLE"></span>
                    <span class="m-login__subtitle" translate="LOGIN_PAGE_TITLE_INFO"></span>
                </div>
            </div>
            <div class="m-grid__item">
                <div class="m-login__info">
                    <div class="m-login__section">
                        <a href="#" class="m-link" translate="LOGIN_PAGE_COPYRIGHT"></a>
                    </div>
                    <div class="m-login__section">
                        <a href="mailto:suporte@cloudfy.net.br" class="m-link">Legal</a>
                        <a href="mailto:suporte@cloudfy.net.br" class="m-link" translate="LOGIN_PAGE_CONTATO"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-grid__item m-grid__item--fluid  m-grid__item--order-tablet-and-mobile-1  m-login__wrapper">

            <!--begin::Head-->
            <div class="m-login__head">
                <span translate="LOGIN_PAGE_NAO_POSSUI"></span>
                <a href="https://www.padariananuvem.com" target="_blank" class="m-link m--font-danger" translate="LOGIN_PAGE_ADIQUIRIR"></a>
            </div>

            <!--end::Head-->

            <!--begin::Body-->
            <div class="m-login__body">

                <!--begin::Signin-->
                <div class="m-login__signin">
                    <div class="m-login__title">
                        <h3 translate="LOGIN_PAGE_INFO_LOGIN_SENHA"></h3>
                    </div>
                    <!--begin::Form-->
                    <form class="m-login__form m-form" #Form="ngForm">
                        <ng-template [ngIf]="!ChangePassword">
                            <div class="form-group m-form__group">
                                <input class="form-control m-input" type="text" [placeholder]="'LOGIN_PAGE_INFO_USUARIO' | translate"
                                       ngModel name="UserName" #UserInput
                                       required
                                       autocomplete="off">
                            </div>
                            <div class="form-group m-form__group">
                                <input class="form-control m-input m-login__form-input--last"
                                       type="password"
                                       required
                                       ngModel name="Password"
                                       [placeholder]="'LOGIN_PAGE_INFO_SENHA' | translate">
                            </div>
                        </ng-template>
                        <div class="form-group m-form__group" *ngIf="ChangePassword">
                            <input class="form-control m-input m-login__form-input--last"
                                   type="text"
                                   required
                                   ngModel name="Email"
                                   [placeholder]="'LOGIN_PAGE_EMAIL' | translate">
                        </div>
                    </form>

                    <!--end::Form-->

                    <!--begin::Action-->
                    <div class="m-login__action">
                        <a href="#" *ngIf="!ChangePassword" (click)="ChangePassword = true" class="m-link">
                            <span >{{'LOGIN_PAGE_ESQUECEU_SENHA' | translate}}</span>
                        </a>
                        <button *ngIf="ChangePassword" class="btn btn-warning m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary"
                                translate="LOGIN_PAGE_BTN_VOLTAR" (click)="ChangePassword = false">
                        </button>
                        <a href="#">
                            <button *ngIf="!ChangePassword" id="m_login_signin_submit" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary"
                                    translate="LOGIN_PAGE_BTN_ENTRAR" (click)="Login()">
                            </button>
                            <button *ngIf="ChangePassword" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary"
                                    translate="LOGIN_PAGE_BTN_EMAIL" (click)="TrocarSenha(Form.value.Email)">
                            </button>
                        </a>
                    </div>

                    <!--end::Action-->

                    <!--begin::Divider-->
                    <div class="m-login__form-divider">
                        <div class="m-divider">
                            <span></span>
                            <span translate="LOGIN_PAGE_INFO_OU"></span>
                            <span></span>
                        </div>
                    </div>

                    <!--end::Divider-->

                    <!--begin::Options-->
                    <div class="m-login__options">
                        <a href="https://www.facebook.com/padariananuvem/" target="_blank" class="btn btn-primary m-btn m-btn--pill  m-btn  m-btn m-btn--icon">
									<span>
										<i class="fab fa-facebook-f"></i>
										<span>Facebook</span>
									</span>
                        </a>
                        <a href="https://www.facebook.com/padariananuvem/" class="btn btn-info m-btn m-btn--pill  m-btn  m-btn m-btn--icon">
									<span>
										<i class="fab fa-twitter"></i>
										<span>Twitter</span>
									</span>
                        </a>
                        <a href="#" class="btn btn-danger m-btn m-btn--pill  m-btn  m-btn m-btn--icon">
									<span>
										<i class="fab fa-instagram"></i>
										<span>Instagram</span>
									</span>
                        </a>
                    </div>

                    <!--end::Options-->
                </div>

                <!--end::Signin-->
            </div>

            <!--end::Body-->
        </div>
    </div>
</div>