<!--
  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ::  Empresa     : Cloudfy                                                     ::
  ::  Systema     : A00FR01 - Angular 2 Corporativo                             ::
  ::  Tipo        : Component                                                   ::
  ::  Descrição   : Componente representando linhas                             ::
  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ::  Programador : José Carlos de Oliveira Junior                              ::
  ::  Data        : 29/06/2018                                                  ::
  ::  Alteração   : Primeira versão                                             ::
  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
-->

<div class="row">
    <ng-content></ng-content>
</div>